<h2>bookings</h2>

<h1>Topic: <%= @subject %></h1>

<p>Capacity: <%=@seats%> seats</p>
<p>Speaker: <%=@speaker%></p>
<p>Description:  <%=@description%></p>
<p>Cost: <%=@price%></p>
<p>Room: <%=@venue%></p>


<form action="">
  <input type="text">
</form>


<h3>booking requires the name of the attendee</h3>
<h3>it requires a record of the seat number</h3>
<h3>it requires seat numbers to be tallyed as booked</h3>
<h3></h3>


<div id="flex-container">
  <div id="seat-container">

  </div>
</div>
